name: Tests
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          ini-values: variables_order=EGPCS
          extensions: pdo, mysql

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Execute tests
        shell: bash
        run: vendor/bin/phpunit --display-all-issues
